name: CI/CD - Production

on:
  release:
    types: [created]

jobs:
  build_package:
    name: "Build and Package Extension"
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
    - uses: actions/checkout@v5
      
    - name: Use Node.js 20.x
      uses: actions/setup-node@v6
      with:
        node-version: 20.x

    - name: Build UploadBOM
      run: |
        npm install
        npm run build
        npm prune --production
      working-directory: UploadBOM

    - name: Package task
      run: |
        npm install
        npm install -g tfx-cli@latest
        tfx --version
        node version-bump.js --token ${{ secrets.marketplace_access_token }} --release-type prod
        tfx extension create --output-path PackageOutput
    
    - name: Upload vsix Artifact
      uses: actions/upload-artifact@v5
      with:
        name: Extension-Package
        path: PackageOutput
  
  publish_marketplace:
    name: "Publish to VS Marketplace"
    needs: build_package
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    steps: 
      - uses: actions/checkout@v5
        
      - name: Use Node.js 20.x
        uses: actions/setup-node@v6
        with:
          node-version: 20.x
        
      - name: Install Dependencies 
        run: |
          npm install -g tfx-cli@latest
          tfx --version

      - name: Download artifact
        uses: actions/download-artifact@v7
        with:
          name: Extension-Package
          path: package
      
      - name: Publish to marketplace
        run: |
          find ./package -name '*.vsix' -exec tfx extension publish --publisher eshaar-me -t ${{ secrets.marketplace_access_token }} --vsix {} \;